*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1f2937;
}

/* header style */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 12px 200px;
    height: 65px;
}

.links {
    display: flex;
    text-decoration: none;
    gap: 24px;
    align-content: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    align-content: center;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

/* hero section */

.main-content {
    display: flex;
    height: 600px;
    background-color: #1f2937;
    margin-top: 65px;
    width: 100%;
    padding: 150px 200px;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
    padding-top: 15px;
    font-weight: 100;
}

img {
    padding: 150px 200px;
    background-color: grey;
    width: 700px;
    height: 100px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    padding: 8px 30px;
    color: #e5e7eb;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #2563eb;
}

/* information */

.information {
    height: 550px;
    background-color: #F9FAF8;
    justify-content: center;
    padding-top: 30px;
}

.info-head {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.info-boxes {
    height: 300px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;     /* Controls max width of each box + text block */
    text-align: center;
}

.box {
    height: 180px;
    width: 180px;
    border-radius: 12px;
    border: 5px solid #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-text {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    color: grey;
    font-weight: 500;
}